.header{
    background: red;
    width: 100%;
    position: fixed;
}

.toolbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    padding: 0 24px;
}

.main{
    height: 100vh;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    background: chartreuse;
}

.navbar{
    width: 350px;
    background: cornflowerblue;
}

.feed{
    width: 100%;
    background: yellow;
}